Создайте свой класс и с помощью pickle запишите его в файл под название "MyClassInFile"

In [3]:
import pickle

class MyClassInFile():
  pass

a = MyClassInFile()
with open('data.pickle','wb') as f:
  pickle.dump(a,f)

С помощью shelve создайте файл "MyFavoriteMovies", и запишите в него названия своих любимых фильмов. В качестве ключей используйте имена режисеров

In [6]:
import shelve

with shelve.open("MyFavoriteMovies") as f:
  f['Режиссер 1'] = 'Фильм 1'
  f['Режиссер 2'] = 'Фильм 2'
  f['Режиссер 3'] = 'Фильм 3'

Создайте таблицу employees и заполните ее данными, как на картинке. Повысьте зарплату на 1000 долларов всем работикам младше 30 лет и удалите из таблицы работников старше 40

In [20]:
import sqlite3

conn = sqlite3.connect("mydatabase2.db")

conn.row_factory = sqlite3.Row

cursor = conn.cursor()

try:
  cursor.execute("DROP TABLE employees")
except Exception:
  pass

cursor.execute("CREATE TABLE employees (name TEXT, salary INTEGER, age INTEGER)")

people = [('John Doe', '5000', '35'),
          ('Marie Page', '6000', '25'),
          ('Megan Flores', '3000', '29'),
          ('Harmony Simmons', '4000', '42')]

cursor.executemany("INSERT INTO employees VALUES (?,?,?)", people)
conn.commit()

rows = list(cursor.execute("SELECT * FROM employees"))
for row in rows:
  for data in row:
    print(data,end=' ')
  print('\n')
print('\n')
cursor.execute("DELETE FROM employees WHERE age > 40")
cursor.execute("UPDATE employees SET salary = salary + 1000 WHERE  age < 30")

rows = list(cursor.execute("SELECT * FROM employees"))
for row in rows:
  for data in row:
    print(data,end=' ')
  print('\n')

John Doe 5000 35

Marie Page 6000 25

Megan Flores 3000 29

Harmony Simmons 4000 42



John Doe 5000 35

Marie Page 7000 25

Megan Flores 4000 29